name: Publish NuGet Package
  
on:
  push:
    branches:
      - master
  
jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
  
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '10.x'
  
      - name: Restore library project
        run: dotnet restore Src/TeleFrame/TeleFrame.csproj
  
      - name: Restore test project
        run: dotnet restore tests/TeleFrame.Tests/TeleFrame.Tests.csproj || true
  
      - name: Build the library project
        run: dotnet build Src/TeleFrame/TeleFrame.csproj --configuration Release --no-restore
  
      - name: Run tests
        run: dotnet test tests/TeleFrame.Tests/TeleFrame.Tests.csproj --configuration Release --no-build --logger "trx;LogFileName=test_results.trx"
  
      - name: Pack the library project
        run: dotnet pack Src/TeleFrame/TeleFrame.csproj --configuration Release --no-build --output ./nupkg
  
      - name: Publish to NuGet
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: dotnet nuget push ./nupkg/*.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json
